Client Transfer Data/Client Transfer Data/Connected Services/ServiceFunctions/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ConnectOnServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectOnServer" />
  </wsdl:message>
  <wsdl:message name="IService_ConnectOnServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectOnServerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetOnlineUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineUsers" />
  </wsdl:message>
  <wsdl:message name="IService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IService_SendFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFile" />
  </wsdl:message>
  <wsdl:message name="IService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FileCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FileCallback" />
  </wsdl:message>
  <wsdl:message name="IService_MsgCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MsgCallback" />
  </wsdl:message>
  <wsdl:message name="IService_UserConnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserConnected" />
  </wsdl:message>
  <wsdl:message name="IService_HasOnline_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HasOnline" />
  </wsdl:message>
  <wsdl:message name="IService_HasOnline_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HasOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUsersOnline_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetUsersOnline" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ConnectOnServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConnectOnServer" message="tns:IService_ConnectOnServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConnectOnServerResponse" message="tns:IService_ConnectOnServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetOnlineUsers" message="tns:IService_GetOnlineUsers_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Disconnect" message="tns:IService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DisconnectResponse" message="tns:IService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendMessage" message="tns:IService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendFile" message="tns:IService_SendFile_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadFile" message="tns:IService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadFileResponse" message="tns:IService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FileCallback" message="tns:IService_FileCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MsgCallback" message="tns:IService_MsgCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserConnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UserConnected" message="tns:IService_UserConnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasOnline">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/HasOnline" message="tns:IService_HasOnline_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IService/HasOnlineResponse" message="tns:IService_HasOnline_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersOnline">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUsersOnline" message="tns:IService_GetUsersOnline_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectOnServer">
      <soap12:operation soapAction="http://tempuri.org/IService/ConnectOnServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineUsers">
      <soap12:operation soapAction="http://tempuri.org/IService/GetOnlineUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendFile">
      <soap12:operation soapAction="http://tempuri.org/IService/SendFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IService/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/FileCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <soap12:operation soapAction="http://tempuri.org/IService/MsgCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserConnected">
      <soap12:operation soapAction="http://tempuri.org/IService/UserConnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasOnline">
      <soap12:operation soapAction="http://tempuri.org/IService/HasOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersOnline">
      <soap12:operation soapAction="http://tempuri.org/IService/GetUsersOnline" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://localhost:8000/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>